@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.head-neon {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.text-neon {
    text-transform: uppercase;
    font-size: 3rem;
    cursor: pointer;
    transition: .3s linear;
    color: transparent;
    -webkit-text-stroke: 2px red;
    background-image: linear-gradient(to left, red, rgb(226, 33, 33), black, rgb(35, 31, 31));
    background-size: 200%;
    -webkit-background-clip: text;
    animation: move 20s linear infinite;
}
@keyframes move {
    100% {
        background-position: 2000px 0;
    }
}
.text-neon:hover {
    
}

.menu-neon {
    width: 200px;
    height: 90vh;
    padding: 40px 0 40px;
    background-color: rgb(20, 20, 20);
   }
   
   .bttn-hamburguer {
       position: absolute;
       top: 1%;
       width: 100%;
       padding-left: 10px;
   }
   .bttn-hamburguer i {
       color: red;
       cursor: pointer;
       font-size: 50px;
   }
   
   ul {
       list-style: none;
   }
   ul li.item-menu {
       transition: 1s;
   }
   ul li.item-menu a{
       color: white;
       text-decoration: none;
       font-size: 20px;
       padding: 20px 7%;
       display: flex;
       justify-content: space-between;
       line-height: 50px;
   }
   ul li.item-menu a .icon > i {
       font-size: 50px;
   }
   ul li.item-menu:hover {
    text-shadow: 0 0 10px rgba(255, 0, 0, .5),
                 0 0 20px rgba(255, 0, 0, .5),
                 0 0 40px rgba(255, 0, 0, .5),
                 0 0 80px rgba(255, 0, 0, .5),
                 0 0 160px rgba(255, 0, 0, .5),
                 0 0 320px rgba(255, 0, 0, .5);   
}